* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}


.formulario_input:focus {
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

/* ----- -----  Estilos para Validacion ----- ----- */


.formulario_correcto .formulario_texto {
	color: #1ed12d;
}

.formulario_incorrecto .formulario_texto {
	color: #bb2929;
}

.formulario_correcto .formulario_input {
	border: 3px solid #1ed12d;
}

.formulario_incorrecto .formulario_input {
	border: 3px solid #bb2929;
}
